<nav>
<div class="p">メニュー</div>
<a href="/">ちけっとやトップ</a><br>
<a onclick="window.history.back()">一つ戻る</a><br>
<a onclick="window.scrollTo(0,0)">先頭へもどる</a>
<div class="p">最近見たチケット</div>
<% if( cookies[:recentview].present? ) %>
<a href="/events/<%= cookies[:recentview] %>"><%= Event.find(cookies[:recentview]).name %></a>
<% else %>
　なし
<% end %>
<div class="p">最近の検索</div>
<% if( cookies[:recentsearch].present? ) %>
<%= link_to( cookies[:recentsearch], search_events_path(q: cookies[:recentsearch]) ) %>
<% else %>
　なし
<% end %>
</nav>
