<nav>
<div class="p"><strong>地方</strong>から選ぶ</div>
<a>北海道</a>
<div class="p">最近見たチケット</div>
<a href="/events/<%= cookies[:recentview] %>"><%= Event.find(cookies[:recentview]).name %></a>
<div class="p">最近の検索</div>
<a href="/events/search?q=<%= cookies[:recentsearch] %>"><%= cookies[:recentsearch] %></a>
</nav>