<div id="search">
<form id="search_form">
<select id="search_type">
<option value="name" selected>公演名</option>
<option value="artist">アーティスト名</option>
<option value="hall">会場名</option>
</select>
<input id="search_word" placeholder="検索ワード">
<input type="button" value="検索" id="search_button">
</form>
</div>