<div id="search">
<%= form_tag( :search_events, method: :get, :id => "search_form" ) do %>
<select id="search_type">
<option value="name" selected>公演名</option>
<option value="artist">アーティスト名</option>
<option value="hall">会場名</option>
</select>
<%= text_field_tag("q", params[:q], :id => "search_word") %>
<%= submit_tag("検索", :id => "search_button") %>
<% end %>
</div>