/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


 body{
    margin : 0px;
}
header{
    color: #ffffff;
    background : #2f80a8;
    padding : 10px;
    border-bottom: 3px solid #ffffff;
    box-shadow : 0px 0px 10px rgba(0,0,0,.5);
    margin-bottom: 10px;
}
header #logo{
    cursor: pointer;
    font-size : 24px;
    font-weight : 900;
    text-decoration: none;
    color : #ffffff;
}
header #logo:hover{
    text-decoration: underline;
}
header #account{
    float : right;
}
header #account a{
    cursor: pointer;
    display: inline-block;
    margin : 5px;
    color : white;
    text-decoration: underline;
}
#R{
    margin : 10px;
    margin-left : calc(30% + 30px);
}
#search{
    border : 1px solid #808080;
    padding : 10px;
    border-radius: 6px;
    box-shadow : 1px 1px 1px rgba(0,0,0,.4);
    margin: 20px 0px;
}
#search_type{
    padding: 4px;
    font-size: 16px;
    border : 1px solid #202020;
    border-radius: 4px;
}
#search_word{
   padding: 5px 8px;
   font-size: 16px;
   border : 1px solid #202020;
   border-radius: 4px;
}
#search_button{
   background: #ffffff;
   box-shadow: inset 0px -10px 10px 0 rgba(0,0,0,.2);
   padding: 5px 18px;
   font-size: 16px;
   border : 1px solid #202020;
   border-radius: 4px;
}
nav{
    position : absolute;
    left : 0%;
   box-sizing: border-box;
    margin : 10px;
    padding : 10px 0px;
    width : 30%;
    background : #ffffff;
    border : 1px solid #808080;
    border-radius : 6px;
}
nav a{
   display: block;
   cursor: pointer;
   padding : 4px 10px;
}
nav a:hover{
   border-left : 4px solid dodgerblue;
   background: #e0e0e0;
}
nav .p{
   padding : 2px 8px;
   border-bottom : 2px solid dodgerblue;
   margin-bottom : 10px;
}
.box{
   border: 1px solid gray;
   padding: 10px;
   border-radius: 6px;
}
.box aside{
   font-size: 20px;
   border-bottom: 2px solid dodgerblue;
   padding-bottom: 6px;
   margin-bottom: 6px;
}
